<%- include('../partials/header.ejs')%>
<h3>a book</h3>
  <div class="book">
    <h3>
        <%= book.title %>
    </h3>
    <p><%= book.description %></p>
  </div>
<a href="/">return to book homepage</a>
<%- include('../partials/footer.ejs')%>
